[Unit]
Description=Inky Immich display
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/user/Documents/rpi-inky-immich/run.sh

[Install]
WantedBy=multi-user.target
